### Python
__pycache__/
*.py[cod]
*$py.class

### Environment / dependencies
venv/
.env
.env.*
!.env.example
*.sqlite3
db.sqlite3

### Django
*.log
staticfiles/
media/

### IDE / editor
.vscode/
.idea/
*.code-workspace

### OS-specific
Thumbs.db
.DS_Store

