{% extends "base.html" %}

{% block title %}All Orders - Admin - Online Shop{% endblock %}

{% block content %}
<h1 class="page-title">All Orders</h1>

{% if orders %}
    <div class="card">
        <div class="card-body p-0">
            <table class="table table-striped align-middle">
                <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Created</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.user.username }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.total_amount }} ₾</td>
                        <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <p>No orders found.</p>
{% endif %}
{% endblock %}

